body {
	background-color: black; !important;
}

h1.center {
	text-align: center;
}

#coolfont {
	font-family: 'Bungee Inline', cursive;
    color: white;
}

.jumbotron{
    background-color:transparent; !important;
    font-size: 150%; !important;
    padding-bottom: 0px !important;
}

.btn-button-home, .btn-button-home:link, .btn-button-home:visited {
    background-color: transparent;
    border-radius: 0;
    color: white;
    border: 3px solid white;
}

.btn-button-home:active, .btn-button-home:hover {
    background-color: #2ecc71;
    color: #fff;
}

.btn:hover {
  cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
}